
  <div>
    <div class="header clearfix" style="background-color: whitesmoke;">
      <nav>
        <ul class="nav nav-pills float-right">
          
            <li class="nav-item">
              <% if(!isAuthenticated){ %>
                <a class="nav-link" href="/login">Login</a>
            <% } else{ %>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <img src="/images/birthrightBanner.jpeg" alt="Stormhelm Banner" style="width: 100%; height: 300px; margin: 0 auto">
  </div> 


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/characters">Characters</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="handbookDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Player Handbook</a>
              <div class="dropdown-menu" aria-labelledby="handbookDropdown">
                <a class="dropdown-item" href="#Races">Races</a>
                <a class="dropdown-item" href="/class">Classes</a>
                <a class="dropdown-item" href="#Races">Universal Features</a>
                <a class="dropdown-item" href="/spells">Spells</a>
              </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/npc/">NPCs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/area/">Areas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recap">Recap</a>
          </li>
        </ul>
      </div>
</nav>