<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); -%>
        <header>
            <%- include('../partials/navigation'); -%>
        </header>   

    </head>
    <body>
        
        <% if(messages.errors){ %>
            <p class="alert alert-success mt-4"><%- messages.error %></p>
        <% } %>
        <% if(messages.success){ %>
            <p class="alert alert-success mt-4"><%- messages.success %></p>
        <% } %>

        <div class="container">
            <h1>New Character</h1>

            <form action="/npc/add" method="POST" name="addNPC">
                <div class="form-row pt-3">
                    <div class="col-md-6">
                        <label for="name"><b>Name</b></label>
                        <input type="text" name="name" id="name" maxlength="25" size="30" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="sex"><b>Sex</b></label>
                        <select id="sex" name="sex" class="form-control">
                            <option value="" selected disabled hidden></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Undefined">Undefined</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="status"><b>Status</b></label>
                        <select name="status" id="status" class="form-control">
                            <option value="Alive">Alive</option>
                            <option value="Dead">Dead</option>
                        </select>
                    </div>
                </div>
                <div class="form-row pt-3">
                    <div class="col-md-4">
                        <label for="race"><b>Race</b></label>
                        <input type="text" name="race" id="race" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="relationship"><b>Relationship</b></label>
                        <input type="text" name="relationship" id="relationship" placeholder="Ally, enemy, family, etc..." class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="roster_npc"><b>On Roster</b></label>
                        <select name="roster_npc" id="rosterNPC" class="form-control">
                            <option value="" selected hidden disabled></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-row pt-3">
                    <div class="col-md-4">
                        <label for="area"><b>Area</b></label>
                        <textarea name="area" id="inpitArea" rows="2" placeholder="Place they reside in" class="form-control"></textarea>
                    </div>
                    <div class="col-md-8">
                        <label for="description"><b>Notes</b></label>
                        <textarea name="description" id="inputDescription"rows="6" class="form-control"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary float-right mt-5">Add NPC</button>

            </form>
        </div>
    </body>
</html>